/* Project 3 CSS */

body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
  background-color: black;
}

h1, p {
  position: absolute;
  width: 100%;
  z-index: 10;
  margin: 0;
  padding: 10px 0;
  background: rgba(0,0,0,0.5);
}

#space-container {
  width: 100vw;
  height: 100vh;
}
